/*********************************************
 * FLAG ICON MIXIN
 *********************************************/
.flagIcon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    content: "          ";
    line-height: 12px;
    height: 12px;
    /*margin: auto;*/
    display: inline-block;
}

/*********************************************
 * FLAGS
 *********************************************/
*[class~="termentry/termNotation"][language='af']:before(20) {
    background-image: url("../flag-icon-css/af.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ar']:before(20),
*[class~="termentry/termNotation"][language='ar-AE']:before(20),
*[class~="termentry/termNotation"][language='ar-BH']:before(20),
*[class~="termentry/termNotation"][language='ar-DZ']:before(20),
*[class~="termentry/termNotation"][language='ar-EG']:before(20),
*[class~="termentry/termNotation"][language='ar-IQ']:before(20),
*[class~="termentry/termNotation"][language='ar-JO']:before(20),
*[class~="termentry/termNotation"][language='ar-KW']:before(20),
*[class~="termentry/termNotation"][language='ar-LB']:before(20),
*[class~="termentry/termNotation"][language='ar-LY']:before(20),
*[class~="termentry/termNotation"][language='ar-MA']:before(20),
*[class~="termentry/termNotation"][language='ar-OM']:before(20),
*[class~="termentry/termNotation"][language='ar-QA']:before(20),
*[class~="termentry/termNotation"][language='ar-SA']:before(20),
*[class~="termentry/termNotation"][language='ar-SY']:before(20),
*[class~="termentry/termNotation"][language='ar-TN']:before(20),
*[class~="termentry/termNotation"][language='ar-YE']:before(20) {
    background-image: url("../flag-icon-css/ar.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='be']:before(20) {
    background-image: url("../flag-icon-css/be.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='bg']:before(20) {
    background-image: url("../flag-icon-css/bg.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ca']:before(20) {
    background-image: url("../flag-icon-css/ca.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='cs']:before(20),
*[class~="termentry/termNotation"][language='cs-CZ']:before(20) {
    background-image: url("../flag-icon-css/cs.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='da']:before(20),
*[class~="termentry/termNotation"][language='da-DK']:before(20) {
    background-image: url("../flag-icon-css/dk.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='de']:before(20),
*[class~="termentry/termNotation"][language='de-DE']:before(20) {
    background-image: url("../flag-icon-css/de.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='de-AT']:before(20) {
    background-image: url("../flag-icon-css/at.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='de-CH']:before(20) {
    background-image: url("../flag-icon-css/ch.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='de-LI']:before(20) {
    background-image: url("../flag-icon-css/li.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='de-LU']:before(20) {
    background-image: url("../flag-icon-css/lu.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='el']:before(20) {
    background-image: url("../flag-icon-css/el.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='en']:before(20),
*[class~="termentry/termNotation"][language='en-GB']:before(20) {
    background-image: url("../flag-icon-css/gb.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='en-IE']:before(20) {
    background-image: url("../flag-icon-css/ie.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='en-JM']:before(20) {
    background-image: url("../flag-icon-css/jm.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='en-NZ']:before(20) {
    background-image: url("../flag-icon-css/nz.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='en-TT']:before(20) {
    background-image: url("../flag-icon-css/tt.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='en-US']:before(20) {
    background-image: url("../flag-icon-css/us.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='en-ZA']:before(20) {
    background-image: url("../flag-icon-css/za.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es']:before(20) {
    background-image: url("../flag-icon-css/es.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-AR']:before(20) {
    background-image: url("../flag-icon-css/ar.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-BO']:before(20) {
    background-image: url("../flag-icon-css/bo.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-CL']:before(20) {
    background-image: url("../flag-icon-css/cl.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-CO']:before(20) {
    background-image: url("../flag-icon-css/co.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-CR']:before(20) {
    background-image: url("../flag-icon-css/cr.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-DO']:before(20) {
    background-image: url("../flag-icon-css/do.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-EC']:before(20) {
    background-image: url("../flag-icon-css/ec.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-GT']:before(20) {
    background-image: url("../flag-icon-css/gt.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-HN']:before(20) {
    background-image: url("../flag-icon-css/hn.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-MX']:before(20) {
    background-image: url("../flag-icon-css/mx.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-NI']:before(20) {
    background-image: url("../flag-icon-css/ni.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-PA']:before(20) {
    background-image: url("../flag-icon-css/pa.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-PE']:before(20) {
    background-image: url("../flag-icon-css/pe.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-PR']:before(20) {
    background-image: url("../flag-icon-css/pr.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-PY']:before(20) {
    background-image: url("../flag-icon-css/py.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-SV']:before(20) {
    background-image: url("../flag-icon-css/sv.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-UY']:before(20) {
    background-image: url("../flag-icon-css/uy.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='es-VE']:before(20) {
    background-image: url("../flag-icon-css/ve.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='et']:before(20) {
    background-image: url("../flag-icon-css/ee.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fa']:before(20) {
    background-image: url("../flag-icon-css/ir.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fi']:before(20) {
    background-image: url("../flag-icon-css/fi.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fo']:before(20) {
    background-image: url("../flag-icon-css/fo.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fr']:before(20),
*[class~="termentry/termNotation"][language='fr-FR']:before(20) {
    background-image: url("../flag-icon-css/fr.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fr-BE']:before(20) {
    background-image: url("../flag-icon-css/be.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fr-CA']:before(20) {
    background-image: url("../flag-icon-css/ca.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fr-CH']:before(20) {
    background-image: url("../flag-icon-css/ch.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='fr-LU']:before(20) {
    background-image: url("../flag-icon-css/lu.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ga']:before(20),
*[class~="termentry/termNotation"][language='fr-GA']:before(20) {
    background-image: url("../flag-icon-css/ga.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='gd']:before(20) {
    background-image: url("../flag-icon-css/gd.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='he']:before(20) {
    background-image: url("../flag-icon-css/il.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='hi']:before(20) {
    background-image: url("../flag-icon-css/in.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='hr']:before(20) {
    background-image: url("../flag-icon-css/ir.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='hu']:before(20) {
    background-image: url("../flag-icon-css/hu.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='id']:before(20) {
    background-image: url("../flag-icon-css/id.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='is']:before(20) {
    background-image: url("../flag-icon-css/is.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='it']:before(20),
*[class~="termentry/termNotation"][language='it-CH']:before(20),
*[class~="termentry/termNotation"][language='it-IT']:before(20) {
    background-image: url("../flag-icon-css/it.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ja']:before(20) {
    background-image: url("../flag-icon-css/ja.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ko']:before(20) {
    background-image: url("../flag-icon-css/kr.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='lt']:before(20) {
    background-image: url("../flag-icon-css/lt.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='lv']:before(20) {
    background-image: url("../flag-icon-css/lv.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='mk']:before(20) {
    background-image: url("../flag-icon-css/mk.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ms']:before(20) {
    background-image: url("../flag-icon-css/my.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='mt']:before(20) {
    background-image: url("../flag-icon-css/mt.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='nl']:before(20),
*[class~="termentry/termNotation"][language='nl-BE']:before(20) {
    background-image: url("../flag-icon-css/nl.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='no']:before(20) {
    background-image: url("../flag-icon-css/no.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='pl']:before(20),
*[class~="termentry/termNotation"][language='pl-PL']:before(20) {
    background-image: url("../flag-icon-css/pl.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='pt']:before(20) {
    background-image: url("../flag-icon-css/pt.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='pt-BR']:before(20) {
    background-image: url("../flag-icon-css/br.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ro']:before(20) {
    background-image: url("../flag-icon-css/ro.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='ru']:before(20) {
    background-image: url("../flag-icon-css/ru.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='sk']:before(20) {
    background-image: url("../flag-icon-css/sk.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='sl']:before(20) {
    background-image: url("../flag-icon-css/sl.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='sq']:before(20) {
    background-image: url("../flag-icon-css/al.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='sr']:before(20) {
    background-image: url("../flag-icon-css/rs.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='sv']:before(20),
*[class~="termentry/termNotation"][language='sv-FI']:before(20) {
    background-image: url("../flag-icon-css/se.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='th']:before(20) {
    background-image: url("../flag-icon-css/th.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='uk']:before(20) {
    background-image: url("../flag-icon-css/ua.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='vi']:before(20) {
    background-image: url("../flag-icon-css/vn.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='zh']:before(20),
*[class~="termentry/termNotation"][language='zh-CN']:before(20) {
    background-image: url("../flag-icon-css/cn.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='zh-HK']:before(20) {
    background-image: url("../flag-icon-css/hk.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='zh-SG']:before(20) {
    background-image: url("../flag-icon-css/sg.svg");
    .flagIcon();
}
*[class~="termentry/termNotation"][language='zh-TW']:before(20) {
    background-image: url("../flag-icon-css/tw.svg");
    .flagIcon();
}
