@import url("elements.less");

*[class~="termmap/termmap"] {
    display: block; 
    -oxy-display-tags: none;
}

*[class~="termmap/termmap"] > *[class~="topic/title"] {
    font-weight: bold;
    font-size: 2em;
    -oxy-display-tags: none;
}

*[class~="termmap/termgroup"]:before {
    .header();
    content: "\A"
    oxy_buttonGroup(
        label, '${i18n(doctales.termAdministration)}',
        transparent, @oxy_buttonGroup_transparent,
        fontInherit, @oxy_buttonGroup_fontInherit,
        actions, 
        oxy_action_list(
            oxy_action(id, 'doctales.termref.add')
        )
    );
}

*[class~="termmap/termref"] {
    .blockElement();
}

*[class~="termmap/termref"][format] {
    display: none;
}

*[class~="termmap/termref"]:before(12) {
    .header();
    content:
    oxy_buttonGroup(
        label, '${i18n(doctales.map.termref)}',
        transparent, @oxy_buttonGroup_transparent,
        fontInherit, @oxy_buttonGroup_fontInherit,
        actions, 
        oxy_action_list(
            oxy_action(id, 'doctales.termref.add'),
            oxy_action(id, 'doctales.termref.delete')
        )
    );
}

*[class~="termmap/termref"]:before(11) {
    .separator();
}

*[class~="termmap/termref"]:before(9) {
    .separator();
}

*[class~="termmap/termref"]:before(8) {
    .separator();
}

*[class~="termmap/termref"]:before(7) {
    content: "href";
    .col1();
    .link();
}

*[class~="termmap/termref"]:before(6) {
    content:
    oxy_textfield(
          edit, '@href',
          columns, 40
    );
    .col2();
    padding-left: 0.5em;
}

*[class~="termmap/termref"]:before(5) {
    content: "keys";
    .col1();
}

*[class~="termmap/termref"]:before(4) {
    content:
    oxy_textfield(
          edit, '@keys',
          columns, 40
    );
    .col2();
    padding-left: 0.5em;
}

*[class~="termmap/termref"]:before(3) {
    content: "termdomain";
    .col1();
}

*[class~="termmap/termref"]:before(2) {
    content:
    oxy_textfield(
        edit, "@termdomain", 
        columns, 40
    );
    .col2();
    padding-left: 0.5em;
}

*[class~="termmap/termref"]:before(1) {
    .separator();
}