*[class~="termmap/termmap"] {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    min-height: 378px;
    outline-width: 0;
    padding-bottom: 80px;
    padding-top: 32px;
    text-decoration-color: rgba(0,0,0,1.0);
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 768px;
    -oxy-display-tags: none;
}

*[class~="termmap/termmap"] > *[class~="topic/title"] {
    font-weight: bold;
    font-size: 2em;
    -oxy-display-tags: none;
}

*[class~="termmap/termgroup"]:before {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content: "\A"
        oxy_buttonGroup(
            actionIDs, 'doctales.termref.add'
        );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termmap/termref"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termmap/termref"] {
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #3d3d3d;
    -oxy-show-placeholder: no;
}

*[class~="termmap/termref"][format] {
    display: none;
}

*[class~="termmap/termref"]:before {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content: 
        oxy_buttonGroup(
            label, '${i18n(doctales.map.termref)}',
            actionIDs, 'doctales.termref.add, doctales.termref.delete'
        )
        " href"
        oxy_urlChooser(
            edit, '@href',
            columns, 40
        )
        " keys"
        oxy_textfield(
            edit, '@keys',
            columns, 40
        )
        " termdomain"
        oxy_textfield(
            edit, "@termdomain", 
            columns, 40
        );
}
