@import url("flags.css");

/*********************************************
 * TERMENTRY
 *********************************************/
*[class~="termentry/termentry"] {
    -oxy-display-tags: none;
    display: block;
    empty-cells: true;
    font-family: Arial, sans-serif;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    min-height: 378px;
    outline-width: 0;
    padding-bottom: 80px;
    padding-top: 32px;
    text-decoration-color: rgba(0,0,0,1.0);
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 768px;
}
*[class~="termentry/termentry"] > *[class~="topic/title"] {
    -oxy-display-tags: none;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
}
*[class~="termentry/termentry"] > *[class~="topic/title"]:after {
    border-bottom: 0.05rem solid #767676;
    content:
        oxy_buttonGroup(
            label, '${i18n(term.conceptLevel)}',
            transparent, 'true',
            fontInherit, 'true',
            actions,
            oxy_action_list(
                oxy_action(id, 'term.definition.add'),
                oxy_action(id, 'term.agreedWith.add'),
                oxy_action(id, 'term.altDefinition.add'),
                oxy_action(id, 'term.equation-figure.add'),
                oxy_action(id, 'term.note.add'),
                oxy_action(id, 'term.fig.add'),
                oxy_action(id, 'term.annotation.add'),
                oxy_action(id, 'term.domains.add')
            )
        );
    display: block;
    font-size: 1.0rem;
    margin-bottom: 2px;
    padding-bottom: 5px;
}

/*********************************************
 * TERM BODY
 *********************************************/
*[class~="termentry/termBody"] {
    margin-top: 2.0em;
}
*[class~="termentry/termBody"]:after {
    margin-top: 2em !important;
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.relations)}',
        transparent, 'true',
        fontInherit, 'true',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.antonyms.add'),
            oxy_action(id, 'term.partsOf.add'),
            oxy_action(id, 'term.instancesOf.add'),
            oxy_action(id, 'term.hypernyms.add'),
            oxy_action(id, 'term.hyponyms.add'),
            oxy_action(id, 'term.relatedTerms.add'),
            oxy_action(id, 'term.relations.delete')
        )
    );
}

/*********************************************
 * DEFINITION
 *********************************************/
*[class~="termentry/definition"]:before(10) {
    -oxy-display-tags: none;
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.definition)}',
        transparent, 'true',
        fontInherit, false,
        actions,
        oxy_action_list(
            oxy_action(id, 'term.definitionSource.add'),
            oxy_action(id, 'term.definition.delete')
        )
    );
}
*[class~="termentry/definition"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, true,
        transparent, true
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/definition"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/definition"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 3.0em;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

/*********************************************
 * DEFINITION TEXT
 *********************************************/
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/definitionText"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/definitionText"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.definitionText.placeholder)}";
    -oxy-show-placeholder: always;
    border: none !important;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * DEFINITION SOURCE
 *********************************************/
*[class~="termentry/definitionSource"]:before(10) {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.definitionSource)}',
        transparent, 'true',
        fontInherit, false,
        actions,
        oxy_action_list(
            oxy_action(id, 'term.sourceName.add'),
            oxy_action(id, 'term.url.reference'),
            oxy_action(id, 'term.definitionSource.delete')
        )
    );
}
*[class~="termentry/definitionSource"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, true,
        transparent, true
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/definitionSource"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/definitionSource"] {
    -oxy-placeholder-content: "${i18n(term.definitionSource.placeholder)}";
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #3d3d3d;
}

/*********************************************
 * EQUATION FIGURE
 *********************************************/
*[class~="topic/fig"][class~="equation-d/equation-figure"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.equation-figure)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.equation-figure.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
*[class~="topic/fig"][class~="equation-d/equation-figure"]:before {
    content: "" !important;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="topic/fig"][class~="equation-d/equation-figure"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="topic/fig"][class~="equation-d/equation-figure"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    content:
        oxy_textArea(
            edit, '#content',
            contentType, 'text/xml',
            width, 100%
        );
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    visibility: -oxy-collapse-text;
    white-space: pre-wrap;
    width: 99% !important;
}

/*********************************************
 * FIG
 *********************************************/
*[class~="topic/fig"]:before(10) {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.fig)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.fig.delete')
        )
    );
}
*[class~="topic/fig"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="topic/fig"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="topic/fig"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    visibility: -oxy-collapse-text;
    width: 99% !important;
}
*[class~="topic/fig"] > *[class~="topic/title"]:before(10) {
    content: "${i18n(term.fig.title)}";
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
    padding-left: 0.5em;
    padding-left: 5px;
    width: 20%;
}
*[class~="topic/fig"] > *[class~="topic/title"]:before(9) {
    content:
    oxy_textfield(
        edit, '#text',
        columns, 60
    );
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="topic/fig"] > *[class~="topic/title"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="topic/fig"] > *[class~="topic/title"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    -oxy-show-placeholder: no !important;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * IMAGE
 *********************************************/
*[class~="topic/image"]:before(10) {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.image)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.imageReference.add'),
            oxy_action(id, 'term.alt.add'),
            oxy_action(id, 'term.image.delete')
        )
    );
    -oxy-show-placeholder: no !important;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="topic/fig"] > *[class~="topic/image"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="topic/fig"] > *[class~="topic/image"] {
   -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    /*width: 99% !important;
    width: auto !important;*/
}
*[class~="topic/image"][href]:not([keyref]) {
    content: attr(href, url);
}
*[class~="topic/image"][keyref]:not([href]) {
    content: attr(keyref, keyref);
}
*[class~="topic/image"]:after(1) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="topic/image"]:after(2) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="topic/image"]:after(3) {
    content: "href";
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="topic/image"]:after(4) {
    content:
    oxy_urlChooser(
        edit, '@href',
        columns, 60
    );
}
*[class~="topic/image"]:after(5) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="topic/image"]:after(6) {
    content: "width";
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="topic/image"]:after(7) {
    content:
    oxy_textfield(
        edit, '@width',
        columns, 10
    );
}
*[class~="topic/image"]:after(8) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}

/*********************************************
 * ALT
 *********************************************/
*[class~="topic/image"] > *[class~="topic/alt"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.alt)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.alt.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="topic/image"] > *[class~="topic/alt"] {
    content:
    oxy_textfield(
        edit, '#text',
        columns, 60
    );
    width: 75%;
    display: inline;
    float: right;
    -oxy-display-tags: none;
}

/*********************************************
 * TERM SOURCE
 *********************************************/
*[class~="termentry/termSource"]:before(10) {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.termSource)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.sourceName.add'),
            oxy_action(id, 'term.url.reference'),
            oxy_action(id, 'term.sourceName.delete'),
            oxy_action(id, 'term.sourceReference.delete'),
            oxy_action(id, 'term.termSource.delete')
        )
    );
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/termSource"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/termSource"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * SOURCE NAME
 *********************************************/
*[class~="termentry/sourceName"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.sourceName)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.sourceReference.renameTo'),
            oxy_action(id, 'term.sourceName.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/sourceName"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/sourceName"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.sourceName.placeholder)}";
    -oxy-show-placeholder: always;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * SOURCE REFERENCE
 *********************************************/
*[class~="termentry/sourceReference"]:before(15) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.sourceReference)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.sourceName.renameTo'),
            oxy_action(id, 'term.sourceReference.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="termentry/sourceReference"]:before {
    display: none !important;
}
*[class~="termentry/sourceReference"][href][format='html']:empty {
    content: "" !important;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/sourceReference"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/sourceReference"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.sourceReference.placeholder)}";
    -oxy-show-placeholder: always;
    /*width: 99% !important;*/
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
*[class~="termentry/sourceReference"]:after(1) {
    display: inline;
    content:
    oxy_button(
        actionID, 'term.open.url',
        showIcon, true,
        transparent, true
    );
}
/**[class~="termentry/sourceReference"]:after(2) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="termentry/sourceReference"]:after(3) {
    content: "${i18n(term.sourceReference.href)}";
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    .link();
}*/
/**[class~="termentry/sourceReference"]:after(4) {
    content:
    oxy_button(
        actionID, 'term.url.reference'
    );
}*/
/**[class~="termentry/sourceReference"]:after(5) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="termentry/sourceReference"]:after(6) {
    content: "${i18n(term.sourceReference.format)}";
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    .link();
}
*[class~="termentry/sourceReference"]:after(7) {
    content:
    oxy_combobox(
        edit, '@format',
        columns, 13
    );
}
*/
/**[class~="termentry/sourceReference"]:after(8) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="termentry/sourceReference"]:after(9) {
    content: "${i18n(term.sourceReference.scope)}";
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    .link();
}
*[class~="termentry/sourceReference"]:after(10) {
    content:
    oxy_combobox(
        edit, '@scope',
        columns, 13
    ) !important;
}*/

/*********************************************
 * ALTERNATIVE DEFINITION
 *********************************************/
*[class~="termentry/altDefinition"]:before(10) {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.altDefinition)}',
        transparent, 'true',
        fontInherit, false,
        actions,
        oxy_action_list(
            oxy_action(id, 'term.definitionSource.add'),
            oxy_action(id, 'term.altDefinition.delete')
        )
    );
}
*[class~="termentry/altDefinition"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/altDefinition"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/altDefinition"] {
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #3d3d3d;
}

/*********************************************
 * ALTERNATIVE DEFINITION TEXT
 *********************************************/
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/altDefinitionText"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/altDefinitionText"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.altDefinitionText.placeholder)}";
    -oxy-show-placeholder: always;
    border: none !important;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * ANNOTATION
 *********************************************/
*[class~="termentry/annotation"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.annotation)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.annotation.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
*[class~="termentry/annotation"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/annotation"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/annotation"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.annotation.placeholder)}";
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * TERM CONTEXT
 *********************************************/
*[class~="termentry/termContext"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.termContext)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.termContextText.add'),
            oxy_action(id, 'term.termContext.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
*[class~="termentry/termContext"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/termContext"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/termContext"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * TERM CONTEXT TEXT
 *********************************************/
*[class~="termentry/termContextText"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.termContextText)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.termContextText.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/termContextText"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/termContextText"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.termContextText.placeholder)}";
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * TERM CONTEXT SOURCE
 *********************************************/
*[class~="termentry/termContextSource"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.termContextSource)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.termContextSource.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/termContextSource"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/termContextSource"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.termContextSource.placeholder)}";
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    /*width: 99% !important;*/
}

/*********************************************
 * PART OF SPEECH
 *********************************************/
*[class~="termentry/partOfSpeech"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.partOfSpeech)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.partOfSpeech.delete')
        )
    );
}
*[class~="termentry/partOfSpeech"]:before(7) {
    content:
    oxy_combobox(
        edit, '@value',
        editable, false,
        values, 'noun, pronoun, adjective, verb, adverb, preposition, conjunction, interjection, article, other',
        labels, '${i18n(term.partOfSpeech.noun)}, ${i18n(term.partOfSpeech.pronoun)}, ${i18n(term.partOfSpeech.adjective)}, ${i18n(term.partOfSpeech.verb)}, ${i18n(term.partOfSpeech.adverb)}, ${i18n(term.partOfSpeech.preposition)}, ${i18n(term.partOfSpeech.conjunction)}, ${i18n(term.partOfSpeech.interjection)}, ${i18n(term.partOfSpeech.article)}, ${i18n(term.partOfSpeech.other)}',
        columns, 15
    );
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/partOfSpeech"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/partOfSpeech"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    -oxy-show-placeholder: no !important;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
*[class~="termentry/partOfSpeech"]:after {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/partOfSpeech"]:after(100) {
        border-top: 1pt solid #767676 !important;
        background-color: #3c3c3c;
    }
}
*[class~="termentry/partOfSpeech"]:after(100) {
    border-bottom: 0.05rem solid #767676;
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    border-top: 1px solid #3d3d3d !important;
    content:
        oxy_buttonGroup(
            label, '${i18n(term.termLevel)}',
            transparent, 'true',
            fontInherit, 'true',
            actions,
            oxy_action_list(
                oxy_action(id, 'term.abbreviation.add'),
                oxy_action(id, 'term.acronym.add'),
                oxy_action(id, 'term.fullForm.add'),
                oxy_action(id, 'term.verb.add')
            )
        );
    display: block;
    margin-bottom: 2px;
    margin-right: -1px;
    margin-top: -2px;
    padding-bottom: 5px;
    padding-top: 2.0em;
    width: 100%;
}

/*********************************************
 * NOTE
 *********************************************/
*[class~="topic/note"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.note)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.note.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
*[class~="topic/note"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="topic/note"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="topic/note"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.note.placeholder)}";
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * DOMAINS
 *********************************************/
*[class~="termentry/domains"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.domains)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.domain.add'),
            oxy_action(id, 'term.domains.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
*[class~="termentry/domains"]:before(8) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/domains"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/domains"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * DOMAIN
 *********************************************/
*[class~="termentry/domain"]:before(10) {
    content:
        oxy_buttonGroup(
            label, '${i18n(term.domain)}',
            transparent, 'true',
            fontInherit, 'false',
            actions,
            oxy_action_list(
                oxy_action(id, 'term.domain.add'),
                oxy_action(id, 'term.domain.delete')
            )
        );
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
    padding-left: 5px;
    width: 20%;
}
*[class~="termentry/domain"] {
content:
    oxy_textfield(
        edit, '@value',
        columns, 50,
        tooltip, '${i18n(term.domain.placeholder)}'
    ) !important;
    width: 75%;
    display: inline;
    float: right;
    -oxy-display-tags: none;
    visibility: -oxy-collapse-text;
    -oxy-show-placeholder: no !important; 
}

/*********************************************
 * AGREED WITH
 *********************************************/
*[class~="termentry/agreedWith"]:before(10) {
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
    content:
    oxy_buttonGroup(
        label, '${i18n(term.agreedWith)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.termCommitteeMember.add'),
            oxy_action(id, 'term.agreedWith.delete')
        )
    );
}
*[class~="termentry/agreedWith"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/agreedWith"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/agreedWith"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * TERM COMMITTEE MEMBER
 *********************************************/
*[class~="termentry/termCommitteeMember"]:before(10) {
    content:
        oxy_buttonGroup(
        label, '${i18n(term.termCommitteeMember)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.termCommitteeMember.add'),
            oxy_action(id, 'term.termCommitteeMember.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="termentry/termCommitteeMember"]:before(9) {
    width: 75%;
    display: inline;
    float: right;
    -oxy-display-tags: none;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/termCommitteeMember"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/termCommitteeMember"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.termCommitteeMember.placeholder)}";
    -oxy-show-placeholder: always;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    list-style: none !important;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 99% !important;
}

/*********************************************
 * TERM NOTATION
 *********************************************/
*[class~="termentry/termNotation"]:before(50) {
    /*width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;*/
    display: inline;
    width: 150px;
}
*[class~="termentry/termNotation"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
*[class~="termentry/termNotation"]:before(21) {
    content:
    "${i18n(term.language)}"
    "   "
    oxy_combobox(
        edit, '@language',
        editable, 'false',
        columns, '8'
    );
}
*[class~="termentry/termNotation"]:before(19) {
    content:
    "      "
    "${i18n(term.usage)}"
    "   "
    oxy_combobox(
        edit, '@usage',
        editable, false,
        values, 'admitted, notRecommended, obsolete, preferred',
        labels, '${i18n(term.usage.admitted)}, ${i18n(term.usage.notRecommended)}, ${i18n(term.usage.obsolete)}, ${i18n(term.usage.preferred)}'
        columns, 15
    );
    font-size: 0.8em;
}
*[class~="termentry/termNotation"]:edit-mode:before(4) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="termentry/termNotation"]:edit-mode:before(3) {
    content: "${i18n(term.termdomain)}";
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
    padding-left: 5px;
    width: 20%;
}
*[class~="termentry/termNotation"]:edit-mode:before(2) {
    -oxy-display-tags: none;
    content: oxy_textfield(edit, "@termdomain", columns, 50);
    display: inline;
    float: right;
    padding-left: 1.0em;
    width: 75%;
}
*[class~="termentry/termNotation"]:first-of-type {
    margin-top: 2.0em;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/termNotation"] {
        border-color: #767676;
    }
}
*[class~="termentry/termNotation"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    border-color: #3d3d3d;
    border-style: solid;
    border-width: 0.05rem;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    /*width: 99% !important;*/
}
*[class~="termentry/termNotation"][usage~="preferred"] {
    background-color: #beffbe;
}
*[class~="termentry/termNotation"][usage~="admitted"] {
    background-color: #feffbe;
}
*[class~="termentry/termNotation"][usage~="notRecommended"] {
    background-color: #ffbfbf;
}

/*********************************************
 * FULL FORM
 *********************************************/
*[class~="termentry/fullForm"]:before(50) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.fullForm)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.abbreviation.add'),
            oxy_action(id, 'term.acronym.add'),
            oxy_action(id, 'term.fullForm.add'),
            oxy_action(id, 'term.verb.add'),
            oxy_action(id, 'term.abbreviation.renameTo'),
            oxy_action(id, 'term.acronym.renameTo'),
            oxy_action(id, 'term.verb.renameTo'),
            oxy_action(id, 'term.fullForm.delete')
        )
    );
}

/*********************************************
 * ABBREVIATION
 *********************************************/
*[class~="termentry/abbreviation"]:before(50) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.abbreviation)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.abbreviation.add'),
            oxy_action(id, 'term.acronym.add'),
            oxy_action(id, 'term.fullForm.add'),
            oxy_action(id, 'term.verb.add'),
            oxy_action(id, 'term.acronym.renameTo'),
            oxy_action(id, 'term.fullForm.renameTo'),
            oxy_action(id, 'term.verb.renameTo'),
            oxy_action(id, 'term.abbreviation.delete')
        )
    );
}

/*********************************************
 * ACRONYM
 *********************************************/
*[class~="termentry/acronym"]:before(50) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.acronym)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.abbreviation.add'),
            oxy_action(id, 'term.acronym.add'),
            oxy_action(id, 'term.fullForm.add'),
            oxy_action(id, 'term.verb.add'),
            oxy_action(id, 'term.abbreviation.renameTo'),
            oxy_action(id, 'term.fullForm.renameTo'),
            oxy_action(id, 'term.verb.renameTo'),
            oxy_action(id, 'term.acronym.delete')
        )
    );
}

/*********************************************
 * VERB
 *********************************************/
*[class~="termentry/verb"]:before(50) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.verb)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.abbreviation.add'),
            oxy_action(id, 'term.acronym.add'),
            oxy_action(id, 'term.fullForm.add'),
            oxy_action(id, 'term.verb.add'),
            oxy_action(id, 'term.abbreviation.renameTo'),
            oxy_action(id, 'term.acronym.renameTo'),
            oxy_action(id, 'term.fullForm.renameTo'),
            oxy_action(id, 'term.verb.delete')
        )
    );
}

/*********************************************
 * TERM VARIANT
 *********************************************/
*[class~="termentry/termVariant"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.termVariant)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.termSource.add'),
            oxy_action(id, 'term.termContext.add'),
            oxy_action(id, 'term.annotation.add'),
            oxy_action(id, 'term.termVariant.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="termentry/termVariant"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-placeholder-content: "${i18n(term.termVariant.placeholder)}";
    -oxy-show-placeholder: always;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    /*width: 99% !important;*/
}
*[class~="termentry/termVariant"][case]:after(2) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="termentry/termVariant"][case]:edit-mode:after(3) {
    content: "${i18n(term.case)}";
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="termentry/termVariant"][case]:edit-mode:after(4) {
    content:
    oxy_combobox(
        edit, '@case',
        editable, false,
        columns, 20
    );
    width: 75%;
    display: inline;
    float: right;
    -oxy-display-tags: none;
}
*[class~="termentry/termVariant"][case]:edit-mode:after(5) {
    content: " ";
    font-size: 3pt;
    display: block;
    width: 100%;
}
*[class~="termentry/termVariant"][number]:edit-mode:after(6) {
    content: "${i18n(term.number)}";
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
*[class~="termentry/termVariant"][number]:edit-mode:after(7) {
    content:
    oxy_combobox(
        edit, '@number',
        editable, false,
        columns, 20
    );
}

/*********************************************
 * RELATIONS
 *********************************************/
*[class~="termentry/relations"] {
    -oxy-display-tags: none;
}

/*********************************************
 * ANTONYMS
 *********************************************/
*[class~="termentry/antonyms"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.antonyms)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.antonym.add'),
            oxy_action(id, 'term.antonyms.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/antonyms"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/antonyms"] {
    -oxy-display-tags: none;
    -oxy-editable: true;
    -oxy-show-placeholder: always;
    color: #000000;
    display: block;
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    visibility: -oxy-collapse-text;
    width: 99% !important;
}
/*********************************************
 * ANTONYM
 *********************************************/
*[class~="termentry/antonym"]:before(20) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.antonym)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.antonym.add'),
            oxy_action(id, 'term.antonym.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}

/*********************************************
 * INSTANCES OF
 *********************************************/
*[class~="termentry/instancesOf"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.instancesOf)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.instanceOf.add'),
            oxy_action(id, 'term.instancesOf.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/instancesOf"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/instancesOf"] {
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
}

/*********************************************
 * INSTANCE OF
 *********************************************/
*[class~="termentry/instanceOf"]:before(20) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.instanceOf)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.instanceOf.add'),
            oxy_action(id, 'term.instanceOf.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}

/*********************************************
 * PARTS OF
 *********************************************/
*[class~="termentry/partsOf"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.partsOf)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.partOf.add'),
            oxy_action(id, 'term.partsOf.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/partsOf"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/partsOf"] {
    visibility: -oxy-collapse-text;
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
}

/*********************************************
 * PART OF
 *********************************************/
*[class~="termentry/partOf"]:before(20) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.partOf)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.partOf.add'),
            oxy_action(id, 'term.partOf.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}

/*********************************************
 * HYPERNYMS
 *********************************************/
*[class~="termentry/hypernyms"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.hypernyms)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.hypernym.add'),
            oxy_action(id, 'term.hypernyms.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/hypernyms"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/hypernyms"] {
    visibility: -oxy-collapse-text;
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
}

/*********************************************
 * HYPERNYM
 *********************************************/
*[class~="termentry/hypernym"]:before(20) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.hypernym)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.hypernym.add'),
            oxy_action(id, 'term.hypernym.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}

/*********************************************
 * HYPONYMS
 *********************************************/
*[class~="termentry/hyponyms"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.hyponyms)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.hyponym.add'),
            oxy_action(id, 'term.hyponyms.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/hyponyms"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/hyponyms"] {
    visibility: -oxy-collapse-text;
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
}

/*********************************************
 * HYPONYM
 *********************************************/
*[class~="termentry/hyponym"]:before(20) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.hyponym)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.hyponym.add'),
            oxy_action(id, 'term.hyponym.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}

/*********************************************
 * RELATED TERMS
 *********************************************/
*[class~="termentry/relatedTerms"]:before(10) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.relatedTerms)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.relatedTerm.add'),
            oxy_action(id, 'term.relatedTerms.delete')
        )
    );
    border-bottom: 0.05rem solid #767676;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/relatedTerms"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/relatedTerms"] {
    visibility: -oxy-collapse-text;
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
}

/*********************************************
 * RELATED TERM
 *********************************************/
*[class~="termentry/relatedTerm"]:before(20) {
    content:
    oxy_buttonGroup(
        label, '${i18n(term.relatedTerm)}',
        transparent, 'true',
        fontInherit, 'false',
        actions,
        oxy_action_list(
            oxy_action(id, 'term.relatedTerm.add'),
            oxy_action(id, 'term.relatedTerm.delete')
        )
    );
    width: 20%;
    font-weight: normal;
    display: inline;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}

/*********************************************
 * RELATIONS LINKLIST
 *********************************************/
*[class~="termentry/relations-linklist"]:before(2) {
    color: transparent;
    display: block;
    margin-top: -28px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    width: 100%;
    content: oxy_button(
        actionID, 'term.dummy',
        showIcon, 'true',
        transparent, 'true'
    );
}

@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/relations-linklist"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/relations-linklist"] {
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #3d3d3d;
    -oxy-show-placeholder: no !important;
}
/*********************************************
 * TERM RELATION
 *********************************************/
*[class~="termentry/termRelation"][keyref]:before(7) {
    content:
    oxy_button(
        action, oxy_action(
        name, oxy_getSomeText(oxy_link-text(), 150, true),
        description, 'dddd',
        operation, 'ro.sync.ecss.extensions.commons.operations.JSOperation',
        arg-script, oxy_concat(
            'function doOperation(){ var url = Packages.ro.sync.ecss.dita.DITAAccess.resolveKeyRef(new java.net.URL("',
            oxy_base-uri(),
            '"),"',
            attr(keyref)
            '", false); Packages.ro.sync.exml.workspace.api.PluginWorkspaceProvider.getPluginWorkspace().open(url); }'
        )
    ),
    transparent, true);
    width: 75%;
    display: inline;
    float: right;
    -oxy-display-tags: none;
}
@media oxygen-high-contrast-black, oxygen-dark-theme {
    *[class~="termentry/termRelation"] {
        border-color: #767676;
        color: #ffffff;
    }
}
*[class~="termentry/termRelation"] {
    display: block;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
    width: 99% !important;
    -oxy-display-tags: none;
    -oxy-show-placeholder: always;
    -oxy-editable: true;
    -oxy-show-placeholder: no !important;
    visibility: -oxy-collapse-text;
}

/*********************************************
 * ABSTRACT
 *********************************************/
*[class~="topic/abstract"]:before {
    content: "";
}
