<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="org.jung.terminology">
  
  <!-- Workaroung for #2146 -->
  <require plugin="org.dita.base"/>
  <require plugin="org.dita.xhtml"/>

  <feature extension="dita.specialization.catalog.relative" file="catalog-dita.xml"/>
  
  <!-- Define parameters in 'insertParameters.xml' to pass them from Ant to XSLT. -->
  <feature extension="dita.conductor.html5.param" file="insertParameters.xml"/>
  
  <!-- Use the preprocess.post extension point to merge the terminology statistics. -->
  <!-- NO, OTHERWISE THIS RUNS ON ALL PDF PUBLICATIONS AS WELL. NEED TO BE HANDLED IN dita2termbrowser -->
  <!--<feature extension="depend.preprocess.post" value="generate-termstats"/>-->
  
  <!-- Add new transtypes. -->
  <feature extension="dita.conductor.transtype.check" value="tbx-min,termchecker-dita,termchecker-xliff,tbx-basic-v2,tbx-basic-v3,oxygen-termchecker,termbrowser-responsive"/>
  
  <transtype name="tbx-min" extends="html5" desc="TBX-Min">
    <param name="debugging.mode" desc="Debugging mode" type="enum">
      <val default="true">false</val>
      <val>true</val>
    </param>
    <param name="args.source.language" desc="Source language of terminology" type="string">
      <val>af-ZA</val>
      <val>ar-AE</val>
      <val>ar-BH</val>
      <val>ar-DZ</val>
      <val>ar-EG</val>
      <val>ar-IQ</val>
      <val>ar-JO</val>
      <val>ar-KW</val>
      <val>ar-LB</val>
      <val>ar-LY</val>
      <val>ar-MA</val>
      <val>ar-OM</val>
      <val>ar-QA</val>
      <val>ar-SA</val>
      <val>ar-SY</val>
      <val>ar-TN</val>
      <val>ar-YE</val>
      <val>be-BY</val>
      <val>bg-BG</val>
      <val>ca-ES</val>
      <val>cs-CZ</val>
      <val>Cy-az-AZ</val>
      <val>Cy-sr-SP</val>
      <val>Cy-uz-UZ</val>
      <val>da-DK</val>
      <val>de-AT</val>
      <val>de-CH</val>
      <val>de-DE</val>
      <val>de-LI</val>
      <val>de-LU</val>
      <val>div-MV</val>
      <val>el-GR</val>
      <val>en-AU</val>
      <val>en-BZ</val>
      <val>en-CA</val>
      <val>en-CB</val>
      <val>en-GB</val>
      <val>en-IE</val>
      <val>en-JM</val>
      <val>en-NZ</val>
      <val>en-PH</val>
      <val>en-TT</val>
      <val>en-US</val>
      <val>en-ZA</val>
      <val>en-ZW</val>
      <val>es-AR</val>
      <val>es-BO</val>
      <val>es-CL</val>
      <val>es-CO</val>
      <val>es-CR</val>
      <val>es-DO</val>
      <val>es-EC</val>
      <val>es-ES</val>
      <val>es-GT</val>
      <val>es-HN</val>
      <val>es-MX</val>
      <val>es-NI</val>
      <val>es-PA</val>
      <val>es-PE</val>
      <val>es-PR</val>
      <val>es-PY</val>
      <val>es-SV</val>
      <val>es-UY</val>
      <val>es-VE</val>
      <val>et-EE</val>
      <val>eu-ES</val>
      <val>fa-IR</val>
      <val>fi-FI</val>
      <val>fo-FO</val>
      <val>fr-BE</val>
      <val>fr-CA</val>
      <val>fr-CH</val>
      <val>fr-FR</val>
      <val>fr-LU</val>
      <val>fr-MC</val>
      <val>gl-ES</val>
      <val>gu-IN</val>
      <val>he-IL</val>
      <val>hi-IN</val>
      <val>hr-HR</val>
      <val>hu-HU</val>
      <val>hy-AM</val>
      <val>id-ID</val>
      <val>is-IS</val>
      <val>it-CH</val>
      <val>it-IT</val>
      <val>ja-JP</val>
      <val>ka-GE</val>
      <val>kk-KZ</val>
      <val>kn-IN</val>
      <val>ko-KR</val>
      <val>kok-IN</val>
      <val>ky-KZ</val>
      <val>Lt-az-AZ</val>
      <val>lt-LT</val>
      <val>Lt-sr-SP</val>
      <val>Lt-uz-UZ</val>
      <val>lv-LV</val>
      <val>mk-MK</val>
      <val>mn-MN</val>
      <val>mr-IN</val>
      <val>ms-BN</val>
      <val>ms-MY</val>
      <val>nb-NO</val>
      <val>nl-BE</val>
      <val>nl-NL</val>
      <val>nn-NO</val>
      <val>pa-IN</val>
      <val>pl-PL</val>
      <val>pt-BR</val>
      <val>pt-PT</val>
      <val>ro-RO</val>
      <val>ru-RU</val>
      <val>sa-IN</val>
      <val>sk-SK</val>
      <val>sl-SI</val>
      <val>sq-AL</val>
      <val>sv-FI</val>
      <val>sv-SE</val>
      <val>sw-KE</val>
      <val>syr-SY</val>
      <val>ta-IN</val>
      <val>te-IN</val>
      <val>th-TH</val>
      <val>tr-TR</val>
      <val>tt-RU</val>
      <val>uk-UA</val>
      <val>ur-PK</val>
      <val>vi-VN</val>
      <val>zh-CHS</val>
      <val>zh-CHT</val>
      <val>zh-CN</val>
      <val>zh-HK</val>
      <val>zh-MO</val>
      <val>zh-SG</val>
      <val>zh-TW</val>
    </param>
    <param name="args.target.language" desc="Target language of terminology" type="string">
      <val>af-ZA</val>
      <val>ar-AE</val>
      <val>ar-BH</val>
      <val>ar-DZ</val>
      <val>ar-EG</val>
      <val>ar-IQ</val>
      <val>ar-JO</val>
      <val>ar-KW</val>
      <val>ar-LB</val>
      <val>ar-LY</val>
      <val>ar-MA</val>
      <val>ar-OM</val>
      <val>ar-QA</val>
      <val>ar-SA</val>
      <val>ar-SY</val>
      <val>ar-TN</val>
      <val>ar-YE</val>
      <val>be-BY</val>
      <val>bg-BG</val>
      <val>ca-ES</val>
      <val>cs-CZ</val>
      <val>Cy-az-AZ</val>
      <val>Cy-sr-SP</val>
      <val>Cy-uz-UZ</val>
      <val>da-DK</val>
      <val>de-AT</val>
      <val>de-CH</val>
      <val>de-DE</val>
      <val>de-LI</val>
      <val>de-LU</val>
      <val>div-MV</val>
      <val>el-GR</val>
      <val>en-AU</val>
      <val>en-BZ</val>
      <val>en-CA</val>
      <val>en-CB</val>
      <val>en-GB</val>
      <val>en-IE</val>
      <val>en-JM</val>
      <val>en-NZ</val>
      <val>en-PH</val>
      <val>en-TT</val>
      <val>en-US</val>
      <val>en-ZA</val>
      <val>en-ZW</val>
      <val>es-AR</val>
      <val>es-BO</val>
      <val>es-CL</val>
      <val>es-CO</val>
      <val>es-CR</val>
      <val>es-DO</val>
      <val>es-EC</val>
      <val>es-ES</val>
      <val>es-GT</val>
      <val>es-HN</val>
      <val>es-MX</val>
      <val>es-NI</val>
      <val>es-PA</val>
      <val>es-PE</val>
      <val>es-PR</val>
      <val>es-PY</val>
      <val>es-SV</val>
      <val>es-UY</val>
      <val>es-VE</val>
      <val>et-EE</val>
      <val>eu-ES</val>
      <val>fa-IR</val>
      <val>fi-FI</val>
      <val>fo-FO</val>
      <val>fr-BE</val>
      <val>fr-CA</val>
      <val>fr-CH</val>
      <val>fr-FR</val>
      <val>fr-LU</val>
      <val>fr-MC</val>
      <val>gl-ES</val>
      <val>gu-IN</val>
      <val>he-IL</val>
      <val>hi-IN</val>
      <val>hr-HR</val>
      <val>hu-HU</val>
      <val>hy-AM</val>
      <val>id-ID</val>
      <val>is-IS</val>
      <val>it-CH</val>
      <val>it-IT</val>
      <val>ja-JP</val>
      <val>ka-GE</val>
      <val>kk-KZ</val>
      <val>kn-IN</val>
      <val>ko-KR</val>
      <val>kok-IN</val>
      <val>ky-KZ</val>
      <val>Lt-az-AZ</val>
      <val>lt-LT</val>
      <val>Lt-sr-SP</val>
      <val>Lt-uz-UZ</val>
      <val>lv-LV</val>
      <val>mk-MK</val>
      <val>mn-MN</val>
      <val>mr-IN</val>
      <val>ms-BN</val>
      <val>ms-MY</val>
      <val>nb-NO</val>
      <val>nl-BE</val>
      <val>nl-NL</val>
      <val>nn-NO</val>
      <val>pa-IN</val>
      <val>pl-PL</val>
      <val>pt-BR</val>
      <val>pt-PT</val>
      <val>ro-RO</val>
      <val>ru-RU</val>
      <val>sa-IN</val>
      <val>sk-SK</val>
      <val>sl-SI</val>
      <val>sq-AL</val>
      <val>sv-FI</val>
      <val>sv-SE</val>
      <val>sw-KE</val>
      <val>syr-SY</val>
      <val>ta-IN</val>
      <val>te-IN</val>
      <val>th-TH</val>
      <val>tr-TR</val>
      <val>tt-RU</val>
      <val>uk-UA</val>
      <val>ur-PK</val>
      <val>vi-VN</val>
      <val>zh-CHS</val>
      <val>zh-CHT</val>
      <val>zh-CN</val>
      <val>zh-HK</val>
      <val>zh-MO</val>
      <val>zh-SG</val>
      <val>zh-TW</val>
    </param>
  </transtype>

  <!-- Add new transtype to generate Schematron rules for terminology checks. -->
  <transtype name="termchecker-dita" extends="html5" desc="Termchecker for DITA">
    <param name="debugging.mode" desc="Debugging mode" type="enum">
      <val default="true">false</val>
      <val>true</val>
    </param>
    <param name="args.language" desc="Language of the terminology check rules" type="string">
      <val>af-ZA</val>
      <val>ar-AE</val>
      <val>ar-BH</val>
      <val>ar-DZ</val>
      <val>ar-EG</val>
      <val>ar-IQ</val>
      <val>ar-JO</val>
      <val>ar-KW</val>
      <val>ar-LB</val>
      <val>ar-LY</val>
      <val>ar-MA</val>
      <val>ar-OM</val>
      <val>ar-QA</val>
      <val>ar-SA</val>
      <val>ar-SY</val>
      <val>ar-TN</val>
      <val>ar-YE</val>
      <val>be-BY</val>
      <val>bg-BG</val>
      <val>ca-ES</val>
      <val>cs-CZ</val>
      <val>Cy-az-AZ</val>
      <val>Cy-sr-SP</val>
      <val>Cy-uz-UZ</val>
      <val>da-DK</val>
      <val>de-AT</val>
      <val>de-CH</val>
      <val>de-DE</val>
      <val>de-LI</val>
      <val>de-LU</val>
      <val>div-MV</val>
      <val>el-GR</val>
      <val>en-AU</val>
      <val>en-BZ</val>
      <val>en-CA</val>
      <val>en-CB</val>
      <val>en-GB</val>
      <val>en-IE</val>
      <val>en-JM</val>
      <val>en-NZ</val>
      <val>en-PH</val>
      <val>en-TT</val>
      <val>en-US</val>
      <val>en-ZA</val>
      <val>en-ZW</val>
      <val>es-AR</val>
      <val>es-BO</val>
      <val>es-CL</val>
      <val>es-CO</val>
      <val>es-CR</val>
      <val>es-DO</val>
      <val>es-EC</val>
      <val>es-ES</val>
      <val>es-GT</val>
      <val>es-HN</val>
      <val>es-MX</val>
      <val>es-NI</val>
      <val>es-PA</val>
      <val>es-PE</val>
      <val>es-PR</val>
      <val>es-PY</val>
      <val>es-SV</val>
      <val>es-UY</val>
      <val>es-VE</val>
      <val>et-EE</val>
      <val>eu-ES</val>
      <val>fa-IR</val>
      <val>fi-FI</val>
      <val>fo-FO</val>
      <val>fr-BE</val>
      <val>fr-CA</val>
      <val>fr-CH</val>
      <val>fr-FR</val>
      <val>fr-LU</val>
      <val>fr-MC</val>
      <val>gl-ES</val>
      <val>gu-IN</val>
      <val>he-IL</val>
      <val>hi-IN</val>
      <val>hr-HR</val>
      <val>hu-HU</val>
      <val>hy-AM</val>
      <val>id-ID</val>
      <val>is-IS</val>
      <val>it-CH</val>
      <val>it-IT</val>
      <val>ja-JP</val>
      <val>ka-GE</val>
      <val>kk-KZ</val>
      <val>kn-IN</val>
      <val>ko-KR</val>
      <val>kok-IN</val>
      <val>ky-KZ</val>
      <val>Lt-az-AZ</val>
      <val>lt-LT</val>
      <val>Lt-sr-SP</val>
      <val>Lt-uz-UZ</val>
      <val>lv-LV</val>
      <val>mk-MK</val>
      <val>mn-MN</val>
      <val>mr-IN</val>
      <val>ms-BN</val>
      <val>ms-MY</val>
      <val>nb-NO</val>
      <val>nl-BE</val>
      <val>nl-NL</val>
      <val>nn-NO</val>
      <val>pa-IN</val>
      <val>pl-PL</val>
      <val>pt-BR</val>
      <val>pt-PT</val>
      <val>ro-RO</val>
      <val>ru-RU</val>
      <val>sa-IN</val>
      <val>sk-SK</val>
      <val>sl-SI</val>
      <val>sq-AL</val>
      <val>sv-FI</val>
      <val>sv-SE</val>
      <val>sw-KE</val>
      <val>syr-SY</val>
      <val>ta-IN</val>
      <val>te-IN</val>
      <val>th-TH</val>
      <val>tr-TR</val>
      <val>tt-RU</val>
      <val>uk-UA</val>
      <val>ur-PK</val>
      <val>vi-VN</val>
      <val>zh-CHS</val>
      <val>zh-CHT</val>
      <val>zh-CN</val>
      <val>zh-HK</val>
      <val>zh-MO</val>
      <val>zh-SG</val>
      <val>zh-TW</val>
    </param>
  </transtype>
  
  <!-- Add new transtype to generate Schematron rules for terminology checks. -->
  <transtype name="termchecker-xliff" extends="html5" desc="Termchecker for XLIFF">
    <param name="debugging.mode" desc="Debugging mode" type="enum">
      <val default="true">false</val>
      <val>true</val>
    </param>
    <param name="args.check.elements" desc="Choose whether terms should be checked only in source elements or target elements or in both of them." type="string">
      <val default="true">source</val>
      <val>target</val>
      <val>both</val>
    </param>
    <param name="args.language" desc="Language of the terminology check rules" type="string">
      <val>af-ZA</val>
      <val>ar-AE</val>
      <val>ar-BH</val>
      <val>ar-DZ</val>
      <val>ar-EG</val>
      <val>ar-IQ</val>
      <val>ar-JO</val>
      <val>ar-KW</val>
      <val>ar-LB</val>
      <val>ar-LY</val>
      <val>ar-MA</val>
      <val>ar-OM</val>
      <val>ar-QA</val>
      <val>ar-SA</val>
      <val>ar-SY</val>
      <val>ar-TN</val>
      <val>ar-YE</val>
      <val>be-BY</val>
      <val>bg-BG</val>
      <val>ca-ES</val>
      <val>cs-CZ</val>
      <val>Cy-az-AZ</val>
      <val>Cy-sr-SP</val>
      <val>Cy-uz-UZ</val>
      <val>da-DK</val>
      <val>de-AT</val>
      <val>de-CH</val>
      <val>de-DE</val>
      <val>de-LI</val>
      <val>de-LU</val>
      <val>div-MV</val>
      <val>el-GR</val>
      <val>en-AU</val>
      <val>en-BZ</val>
      <val>en-CA</val>
      <val>en-CB</val>
      <val>en-GB</val>
      <val>en-IE</val>
      <val>en-JM</val>
      <val>en-NZ</val>
      <val>en-PH</val>
      <val>en-TT</val>
      <val>en-US</val>
      <val>en-ZA</val>
      <val>en-ZW</val>
      <val>es-AR</val>
      <val>es-BO</val>
      <val>es-CL</val>
      <val>es-CO</val>
      <val>es-CR</val>
      <val>es-DO</val>
      <val>es-EC</val>
      <val>es-ES</val>
      <val>es-GT</val>
      <val>es-HN</val>
      <val>es-MX</val>
      <val>es-NI</val>
      <val>es-PA</val>
      <val>es-PE</val>
      <val>es-PR</val>
      <val>es-PY</val>
      <val>es-SV</val>
      <val>es-UY</val>
      <val>es-VE</val>
      <val>et-EE</val>
      <val>eu-ES</val>
      <val>fa-IR</val>
      <val>fi-FI</val>
      <val>fo-FO</val>
      <val>fr-BE</val>
      <val>fr-CA</val>
      <val>fr-CH</val>
      <val>fr-FR</val>
      <val>fr-LU</val>
      <val>fr-MC</val>
      <val>gl-ES</val>
      <val>gu-IN</val>
      <val>he-IL</val>
      <val>hi-IN</val>
      <val>hr-HR</val>
      <val>hu-HU</val>
      <val>hy-AM</val>
      <val>id-ID</val>
      <val>is-IS</val>
      <val>it-CH</val>
      <val>it-IT</val>
      <val>ja-JP</val>
      <val>ka-GE</val>
      <val>kk-KZ</val>
      <val>kn-IN</val>
      <val>ko-KR</val>
      <val>kok-IN</val>
      <val>ky-KZ</val>
      <val>Lt-az-AZ</val>
      <val>lt-LT</val>
      <val>Lt-sr-SP</val>
      <val>Lt-uz-UZ</val>
      <val>lv-LV</val>
      <val>mk-MK</val>
      <val>mn-MN</val>
      <val>mr-IN</val>
      <val>ms-BN</val>
      <val>ms-MY</val>
      <val>nb-NO</val>
      <val>nl-BE</val>
      <val>nl-NL</val>
      <val>nn-NO</val>
      <val>pa-IN</val>
      <val>pl-PL</val>
      <val>pt-BR</val>
      <val>pt-PT</val>
      <val>ro-RO</val>
      <val>ru-RU</val>
      <val>sa-IN</val>
      <val>sk-SK</val>
      <val>sl-SI</val>
      <val>sq-AL</val>
      <val>sv-FI</val>
      <val>sv-SE</val>
      <val>sw-KE</val>
      <val>syr-SY</val>
      <val>ta-IN</val>
      <val>te-IN</val>
      <val>th-TH</val>
      <val>tr-TR</val>
      <val>tt-RU</val>
      <val>uk-UA</val>
      <val>ur-PK</val>
      <val>vi-VN</val>
      <val>zh-CHS</val>
      <val>zh-CHT</val>
      <val>zh-CN</val>
      <val>zh-HK</val>
      <val>zh-MO</val>
      <val>zh-SG</val>
      <val>zh-TW</val>
    </param>
  </transtype>
  
  <!-- Add new transtype to generate a TBX file for the Language Service Provider. -->
  <transtype name="tbx-basic-v2" extends="html5" desc="TBX-Basic">
    <param name="debugging.mode" desc="Debugging mode" type="enum">
      <val default="true">false</val>
      <val>true</val>
    </param>
  </transtype>
  
  <transtype name="tbx-basic-v3" extends="html5" desc="TBX-Basic">
    <param name="debugging.mode" desc="Debugging mode" type="enum">
      <val default="true">false</val>
      <val>true</val>
    </param>
    <param name="main.language" desc="Which is the main language, used for definitions, and so forth" type="string"/>
  </transtype>
  
  <!-- Add new transtype to generate a TBX file for the Language Service Provider. -->
  <transtype name="oxygen-termchecker" extends="html5" desc="Oxygen Termchecker">
    <param name="debugging.mode" desc="Debugging mode" type="enum">
      <val default="true">false</val>
      <val>true</val>
    </param>
  </transtype>
  
  <!-- Import Ant script -->
  <feature extension="ant.import" file="ant/build_dita2oxygen-termchecker_template.xml"/>
  <feature extension="ant.import" file="ant/build_dita2tbx-basic-v2_template.xml"/>
  <feature extension="ant.import" file="ant/build_dita2tbx-basic-v3_template.xml"/>
  <feature extension="ant.import" file="ant/build_dita2tbx-min_template.xml"/>
  <feature extension="ant.import" file="ant/build_dita2termbrowser_template.xml"/>
  <feature extension="ant.import" file="ant/build_dita2termchecker-dita_template.xml"/>
  <feature extension="ant.import" file="ant/build_dita2termchecker-xliff_template.xml"/>

  <!-- Overriding XSLT -->
  <feature extension="dita.xsl.html5" file="xsl/termbrowser/termbrowser.xsl"/>
  
  <!-- New strings -->
  <feature extension="dita.xsl.strings" file="i18n/termbrowser-strings.xml"/>
  
  <transtype name="termbrowser-responsive" extends="webhelp-responsive-common" desc="Termbrowser Responsive">
    <param name="debugging.mode" desc="Activate debugging mode" type="enum">
      <val default="true">false</val>
      <val>true</val>
    </param>
    <param name="generate-termstats" required="false" desc="Set this parameter to force the generation of a terminology statistics XML file. Usually the transtype tries to auto-detect if this should be done. The condition is fulfilled, if the transtype is 'termbrowser-responsive' and a &lt;termstatsref&gt; element needs to be available on the terminology map. But this does not work, if the transtype has been extended." type="enum">
      <val>true</val>
      <val>false</val>
    </param>
    <param name="args.termstats" desc="Terminology statistics XML file from previous build" type="file"/>
    <param name="term.semantic-net.layout.improvedLayout" desc="When enabled, the network will use the Kamada Kawai algorithm for initial layout. For networks larger than 100 nodes, clustering will be performed automatically to reduce the amount of nodes. This can greatly improve the stabilization times. If the network is very interconnected (no or few leaf nodes), this may not work and it will revert back to the old method. Performance will be improved in the future." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="term.semantic-net.edges.color" desc="Color of semantic net edges" type="string">
      <val default="true">orange</val>
    </param>
    <param name="term.semantic-net.edges.width" desc="Width of semantic net edges" type="string"/>
    
    <param name="term.semantic-net.physics.stabilization.enabled" desc="Toggle the stabilization. This is an optional property. If undefined, it is automatically set to true when any of the properties of this object are defined." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="term.semantic-net.physics.stabilization.iterations" desc="The physics module tries to stabilize the network on load up til a maximum number of iterations defined here. If the network stabilized with less, you are finished before the maximum number." type="string">
      <val default="true">1000</val>
    </param>
    <param name="term.semantic-net.physics.stabilization.updateInterval" desc="When stabilizing, the DOM can freeze. You can chop the stabilization up into pieces to show a loading bar for instance. The interval determines after how many iterations the stabilizationProgress event is triggered." type="string">
      <val default="true">50</val>
    </param>
    <param name="term.semantic-net.physics.forceAtlas2Based.gravitationalConstant" desc="This is similar to the barnesHut method except that the falloff is linear instead of quadratic. The connectivity is also taken into account as a factor of the mass. If you want the repulsion to be stronger, decrease the value (so -1000, -2000)." type="string">
      <val default="true">-50</val>
    </param>
    <param name="term.semantic-net.physics.forceAtlas2Based.centralGravity" desc="There is a central gravity attractor to pull the entire network back to the center. This is not dependent on distance." type="string">
      <val default="true">0.01</val>
    </param>
    <param name="term.semantic-net.physics.forceAtlas2Based.springLength" desc="The edges are modelled as springs. This springLength here is the rest length of the spring." type="string">
      <val default="true">100</val>
    </param>
    <param name="term.semantic-net.physics.forceAtlas2Based.springConstant" desc="This is how 'sturdy' the springs are. Higher values mean stronger springs." type="string">
      <val default="true">0.08</val>
    </param>
    
    <param name="term.semantic-net.term.border" desc="Semantic net term node border" type="string">
      <val default="true">1</val>
    </param>
    <param name="term.semantic-net.term.background" desc="Semantic net term node background" type="string">
      <val default="true">yellow</val>
    </param>
    <param name="term.semantic-net.term.font.color" desc="Semantic net term node font color" type="string">
      <val default="true">#1471bb</val>
    </param>
    <param name="term.semantic-net.term.font.size" desc="Semantic net term node font size in px. Use only a digit." type="string">
      <val default="true">9</val>
    </param>
  </transtype>
  
</plugin>
