@media oxygen {

    *[class~="termmap/termmap"] {
        -oxy-display-tags: none;
        display: block;
        font-family: Arial , sans-serif;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 24px;
        margin-left: 3.0em;
        margin-right: auto;
        margin-top: 24px;
        min-height: 378px;
        outline-width: 0;
        padding-bottom: 80px;
        padding-top: 32px;
        width: 768px;
    }
    
    *[class~="termmap/termmap"] > *[class~="topic/title"] {
        -oxy-display-tags: none;
        font-size: 2em;
        font-weight: bold;
    }
    
    @media oxygen-high-contrast-black, oxygen-dark-theme {
        *[class~="termmap/termref"] {
            border-color: #767676;
            color: #ffffff;
        }
    }
    *[class~="termmap/termref"],
    *[class~="termmap/termstatsref"],
    *[class~="termmap/semanticnetref"],
    *[type~="subjectScheme"] {
        -oxy-display-tags: none;
        -oxy-editable: true;
        -oxy-show-placeholder: always;
        -oxy-show-placeholder: no;
        display: block;
        font-family: Arial, sans-serif;
        margin-bottom: 2px;
        margin-top: 5px;
    }
    *[class~="termmap/termref"]:hover:focus, 
    *[class~="termmap/termref"]:focus {
        content: 
            oxy_label(
                text, "• ",
                color, inherit
            )
            oxy_buttonGroup(
                label, oxy_getSomeText(oxy_link-text(attr(href)), 150, true),
                actionIDs, 'term.termref.add, term.termref.delete', 'term.termref.edit.href'
            )
            oxy_urlChooser(
                edit, '@href',
                columns, 5
            )
            "  keys "
            oxy_textfield(
                edit, '@keys',
                columns, 20
            )
            "  termdomain "
            oxy_textfield(
                edit, "@termdomain", 
                columns, 20
            );
    }
    *[class~="termmap/termref"][href=""]:hover:focus, 
    *[class~="termmap/termref"][href=""]:focus {
        content: 
            oxy_label(
                text, "• ",
                color, inherit
            )
            oxy_urlChooser(
                edit, '@href',
                columns, 30
            )
            "  keys "
            oxy_textfield(
                edit, '@keys',
                columns, 20
            )
            "  termdomain "
            oxy_textfield(
                edit, "@termdomain", 
                columns, 20
            );
    }
    *[class~="termmap/termref"] {
        content:
            oxy_label(
                text, "• ",
                color, inherit
            )
            attr(keys);
    }
    *[class~="termmap/termref"]:hover {
        content:
            oxy_label(
                text, "• ",
                styles, "font-weight: normal;"
            )
            attr(keys)
            "   "
            oxy_label(
                text, oxy_getSomeText(oxy_link-text(attr(href)), 150, true),
                styles, "font-weight: bold;"
            );
    }
    *[class~="termmap/termref"][termdomain] {
        content:
            oxy_label(
                text, "• ",
                color, inherit
            )
            attr(keys)
            oxy_label(
                text, " termdomain",
                width, 10em,
                color, inherit
            )
            attr(termdomain);
    }
}