
.icon-up-big:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-trash-empty:before { content: '\e802'; } /* '' */
.icon-trash:before { content: '\e803'; } /* '' */
.icon-file-code:before { content: '\e804'; } /* '' */
.icon-file-image:before { content: '\e805'; } /* '' */
.icon-file-pdf:before { content: '\e806'; } /* '' */
.icon-git:before { content: '\e807'; } /* '' */
.icon-github-squared:before { content: '\e808'; } /* '' */
.icon-link-ext:before { content: '\e809'; } /* '' */