/*********************************************
 * FLAGS
 *********************************************/
*[class~="termentry/termNotation"][language]:before(25) {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    content: "          ";
    line-height: 12px;
    height: 12px;
    display: inline-block;
}
*[class~="termentry/termNotation"][language='af-ZA']:before(25) {
    background-image: url("../flag-icon-css/za.svg");
}
*[class~="termentry/termNotation"][language='ar-AE']:before(25) {
    background-image: url("../flag-icon-css/ae.svg");
}
*[class~="termentry/termNotation"][language='ar-BH']:before(25) {
    background-image: url("../flag-icon-css/bh.svg");
}
*[class~="termentry/termNotation"][language='ar-DZ']:before(25) {
    background-image: url("../flag-icon-css/dz.svg");
}
*[class~="termentry/termNotation"][language='ar-EG']:before(25) {
    background-image: url("../flag-icon-css/eg.svg");
}
*[class~="termentry/termNotation"][language='ar-IQ']:before(25) {
    background-image: url("../flag-icon-css/iq.svg");
}
*[class~="termentry/termNotation"][language='ar-JO']:before(25) {
    background-image: url("../flag-icon-css/jo.svg");
}
*[class~="termentry/termNotation"][language='ar-KW']:before(25) {
    background-image: url("../flag-icon-css/kw.svg");
}
*[class~="termentry/termNotation"][language='ar-LB']:before(25) {
    background-image: url("../flag-icon-css/lb.svg");
}
*[class~="termentry/termNotation"][language='ar-LY']:before(25) {
    background-image: url("../flag-icon-css/ly.svg");
}
*[class~="termentry/termNotation"][language='ar-MA']:before(25) {
    background-image: url("../flag-icon-css/ma.svg");
}
*[class~="termentry/termNotation"][language='ar-OM']:before(25) {
    background-image: url("../flag-icon-css/om.svg");
}
*[class~="termentry/termNotation"][language='ar-QA']:before(25) {
    background-image: url("../flag-icon-css/qa.svg");
}
*[class~="termentry/termNotation"][language='ar-SA']:before(25) {
    background-image: url("../flag-icon-css/sa.svg");
}
*[class~="termentry/termNotation"][language='ar-SY']:before(25) {
    background-image: url("../flag-icon-css/sy.svg");
}
*[class~="termentry/termNotation"][language='ar-TN']:before(25) {
    background-image: url("../flag-icon-css/tn.svg");
}
*[class~="termentry/termNotation"][language='ar-YE']:before(25) {
    background-image: url("../flag-icon-css/ye.svg");
}
*[class~="termentry/termNotation"][language='be-BY']:before(25) {
    background-image: url("../flag-icon-css/by.svg");
}
*[class~="termentry/termNotation"][language='bg-BG']:before(25) {
    background-image: url("../flag-icon-css/bg.svg");
}
*[class~="termentry/termNotation"][language='ca-ES']:before(25) {
    background-image: url("../flag-icon-css/es.svg");
}
*[class~="termentry/termNotation"][language='cs-CZ']:before(25) {
    background-image: url("../flag-icon-css/cz.svg");
}
*[class~="termentry/termNotation"][language='Cy-az-AZ']:before(25) {
    background-image: url("../flag-icon-css/az.svg");
}
*[class~="termentry/termNotation"][language='Cy-sr-SP']:before(25) {
    background-image: url("../flag-icon-css/sr.svg");
}
*[class~="termentry/termNotation"][language='Cy-uz-UZ']:before(25) {
    background-image: url("../flag-icon-css/uz.svg");
}
*[class~="termentry/termNotation"][language='da-DK']:before(25) {
    background-image: url("../flag-icon-css/dk.svg");
}
*[class~="termentry/termNotation"][language='de-AT']:before(25) {
    background-image: url("../flag-icon-css/at.svg");
}
*[class~="termentry/termNotation"][language='de-CH']:before(25) {
    background-image: url("../flag-icon-css/ch.svg");
}
*[class~="termentry/termNotation"][language='de-DE']:before(25) {
    background-image: url("../flag-icon-css/de.svg");
}
*[class~="termentry/termNotation"][language='de-LI']:before(25) {
    background-image: url("../flag-icon-css/li.svg");
}
*[class~="termentry/termNotation"][language='de-LU']:before(25) {
    background-image: url("../flag-icon-css/lu.svg");
}
*[class~="termentry/termNotation"][language='div-MV']:before(25) {
    background-image: url("../flag-icon-css/mv.svg");
}
*[class~="termentry/termNotation"][language='el-GR']:before(25) {
    background-image: url("../flag-icon-css/gr.svg");
}
*[class~="termentry/termNotation"][language='en-AU']:before(25) {
    background-image: url("../flag-icon-css/au.svg");
}
*[class~="termentry/termNotation"][language='en-BZ']:before(25) {
    background-image: url("../flag-icon-css/bz.svg");
}
*[class~="termentry/termNotation"][language='en-CA']:before(25) {
    background-image: url("../flag-icon-css/ca.svg");
}
*[class~="termentry/termNotation"][language='en-CB']:before(25) {
    background-image: url("../flag-icon-css/cb.svg");
}
*[class~="termentry/termNotation"][language='en-GB']:before(25) {
    background-image: url("../flag-icon-css/gb.svg");
}
*[class~="termentry/termNotation"][language='en-IE']:before(25) {
    background-image: url("../flag-icon-css/ie.svg");
}
*[class~="termentry/termNotation"][language='en-JM']:before(25) {
    background-image: url("../flag-icon-css/jm.svg");
}
*[class~="termentry/termNotation"][language='en-NZ']:before(25) {
    background-image: url("../flag-icon-css/nz.svg");
}
*[class~="termentry/termNotation"][language='en-PH']:before(25) {
    background-image: url("../flag-icon-css/ph.svg");
}
*[class~="termentry/termNotation"][language='en-TT']:before(25) {
    background-image: url("../flag-icon-css/tt.svg");
}
*[class~="termentry/termNotation"][language='en-US']:before(25) {
    background-image: url("../flag-icon-css/us.svg");
}
*[class~="termentry/termNotation"][language='en-ZA']:before(25) {
    background-image: url("../flag-icon-css/za.svg");
}
*[class~="termentry/termNotation"][language='en-ZW']:before(25) {
    background-image: url("../flag-icon-css/zw.svg");
}
*[class~="termentry/termNotation"][language='es-AR']:before(25) {
    background-image: url("../flag-icon-css/ar.svg");
}
*[class~="termentry/termNotation"][language='es-BO']:before(25) {
    background-image: url("../flag-icon-css/bo.svg");
}
*[class~="termentry/termNotation"][language='es-CL']:before(25) {
    background-image: url("../flag-icon-css/cl.svg");
}
*[class~="termentry/termNotation"][language='es-CO']:before(25) {
    background-image: url("../flag-icon-css/co.svg");
}
*[class~="termentry/termNotation"][language='es-CR']:before(25) {
    background-image: url("../flag-icon-css/cr.svg");
}
*[class~="termentry/termNotation"][language='es-DO']:before(25) {
    background-image: url("../flag-icon-css/do.svg");
}
*[class~="termentry/termNotation"][language='es-EC']:before(25) {
    background-image: url("../flag-icon-css/ec.svg");
}
*[class~="termentry/termNotation"][language='es-ES']:before(25) {
    background-image: url("../flag-icon-css/es.svg");
}
*[class~="termentry/termNotation"][language='es-GT']:before(25) {
    background-image: url("../flag-icon-css/gt.svg");
}
*[class~="termentry/termNotation"][language='es-HN']:before(25) {
    background-image: url("../flag-icon-css/hn.svg");
}
*[class~="termentry/termNotation"][language='es-MX']:before(25) {
    background-image: url("../flag-icon-css/mx.svg");
}
*[class~="termentry/termNotation"][language='es-NI']:before(25) {
    background-image: url("../flag-icon-css/ni.svg");
}
*[class~="termentry/termNotation"][language='es-PA']:before(25) {
    background-image: url("../flag-icon-css/pa.svg");
}
*[class~="termentry/termNotation"][language='es-PE']:before(25) {
    background-image: url("../flag-icon-css/pe.svg");
}
*[class~="termentry/termNotation"][language='es-PR']:before(25) {
    background-image: url("../flag-icon-css/pr.svg");
}
*[class~="termentry/termNotation"][language='es-PY']:before(25) {
    background-image: url("../flag-icon-css/py.svg");
}
*[class~="termentry/termNotation"][language='es-SV']:before(25) {
    background-image: url("../flag-icon-css/sv.svg");
}
*[class~="termentry/termNotation"][language='es-UY']:before(25) {
    background-image: url("../flag-icon-css/uy.svg");
}
*[class~="termentry/termNotation"][language='es-VE']:before(25) {
    background-image: url("../flag-icon-css/ve.svg");
}
*[class~="termentry/termNotation"][language='et-EE']:before(25) {
    background-image: url("../flag-icon-css/ee.svg");
}
*[class~="termentry/termNotation"][language='eu-ES']:before(25) {
    background-image: url("../flag-icon-css/es.svg");
}
*[class~="termentry/termNotation"][language='fa-IR']:before(25) {
    background-image: url("../flag-icon-css/ir.svg");
}
*[class~="termentry/termNotation"][language='fi-FI']:before(25) {
    background-image: url("../flag-icon-css/fi.svg");
}
*[class~="termentry/termNotation"][language='fo-FO']:before(25) {
    background-image: url("../flag-icon-css/fo.svg");
}
*[class~="termentry/termNotation"][language='fr-FR']:before(25) {
    background-image: url("../flag-icon-css/fr.svg");
}
*[class~="termentry/termNotation"][language='fr-BE']:before(25) {
    background-image: url("../flag-icon-css/be.svg");
}
*[class~="termentry/termNotation"][language='fr-CA']:before(25) {
    background-image: url("../flag-icon-css/ca.svg");
}
*[class~="termentry/termNotation"][language='fr-CH']:before(25) {
    background-image: url("../flag-icon-css/ch.svg");
}
*[class~="termentry/termNotation"][language='fr-FR']:before(25) {
    background-image: url("../flag-icon-css/fr.svg");
}
*[class~="termentry/termNotation"][language='fr-LU']:before(25) {
    background-image: url("../flag-icon-css/lu.svg");
}
*[class~="termentry/termNotation"][language='fr-MC']:before(25) {
    background-image: url("../flag-icon-css/mc.svg");
}
*[class~="termentry/termNotation"][language='gl-ES']:before(25) {
    background-image: url("../flag-icon-css/es.svg");
}
*[class~="termentry/termNotation"][language='gu-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='he-IL']:before(25) {
    background-image: url("../flag-icon-css/il.svg");
}
*[class~="termentry/termNotation"][language='hi-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='hr-HR']:before(25) {
    background-image: url("../flag-icon-css/hr.svg");
}
*[class~="termentry/termNotation"][language='hu-HU']:before(25) {
    background-image: url("../flag-icon-css/hu.svg");
}
*[class~="termentry/termNotation"][language='hy-AM']:before(25) {
    background-image: url("../flag-icon-css/am.svg");
}
*[class~="termentry/termNotation"][language='id-ID']:before(25) {
    background-image: url("../flag-icon-css/id.svg");
}
*[class~="termentry/termNotation"][language='is-IS']:before(25) {
    background-image: url("../flag-icon-css/is.svg");
}
*[class~="termentry/termNotation"][language='it-CH']:before(25) {
    background-image: url("../flag-icon-css/ch.svg");
}
*[class~="termentry/termNotation"][language='it-IT']:before(25) {
    background-image: url("../flag-icon-css/it.svg");
}
*[class~="termentry/termNotation"][language='ja-JP']:before(25) {
    background-image: url("../flag-icon-css/jp.svg");
}
*[class~="termentry/termNotation"][language='ka-GE']:before(25) {
    background-image: url("../flag-icon-css/ge.svg");
}
*[class~="termentry/termNotation"][language='kk-KZ']:before(25) {
    background-image: url("../flag-icon-css/kz.svg");
}
*[class~="termentry/termNotation"][language='kn-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='ko-KR']:before(25) {
    background-image: url("../flag-icon-css/kr.svg");
}
*[class~="termentry/termNotation"][language='kok-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='ky-KZ']:before(25) {
    background-image: url("../flag-icon-css/kz.svg");
}
*[class~="termentry/termNotation"][language='lt-LT']:before(25) {
    background-image: url("../flag-icon-css/lt.svg");
}
*[class~="termentry/termNotation"][language='Lt-az-AZ']:before(25) {
    background-image: url("../flag-icon-css/az.svg");
}
*[class~="termentry/termNotation"][language='Lt-sr-SP']:before(25) {
    background-image: url("../flag-icon-css/sr.svg");
}
*[class~="termentry/termNotation"][language='Lt-uz-UZ']:before(25) {
    background-image: url("../flag-icon-css/uz.svg");
}
*[class~="termentry/termNotation"][language='lv-LV']:before(25) {
    background-image: url("../flag-icon-css/lv.svg");
}
*[class~="termentry/termNotation"][language='mk-MK']:before(25) {
    background-image: url("../flag-icon-css/mk.svg");
}
*[class~="termentry/termNotation"][language='mn-MN']:before(25) {
    background-image: url("../flag-icon-css/mn.svg");
}
*[class~="termentry/termNotation"][language='mr-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='ms-BN']:before(25) {
    background-image: url("../flag-icon-css/bn.svg");
}
*[class~="termentry/termNotation"][language='ms-MY']:before(25) {
    background-image: url("../flag-icon-css/my.svg");
}
*[class~="termentry/termNotation"][language='nb-NO']:before(25) {
    background-image: url("../flag-icon-css/no.svg");
}
*[class~="termentry/termNotation"][language='nl-BE']:before(25) {
    background-image: url("../flag-icon-css/be.svg");
}
*[class~="termentry/termNotation"][language='nl-NL']:before(25) {
    background-image: url("../flag-icon-css/nl.svg");
}
*[class~="termentry/termNotation"][language='nn-NO']:before(25) {
    background-image: url("../flag-icon-css/no.svg");
}
*[class~="termentry/termNotation"][language='pa-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='pl-PL']:before(25) {
    background-image: url("../flag-icon-css/pl.svg");
}
*[class~="termentry/termNotation"][language='pt-BR']:before(25) {
    background-image: url("../flag-icon-css/br.svg");
}
*[class~="termentry/termNotation"][language='pt-PT']:before(25) {
    background-image: url("../flag-icon-css/pt.svg");
}
*[class~="termentry/termNotation"][language='ro-MO']:before(25) {
    background-image: url("../flag-icon-css/mo.svg");
}
*[class~="termentry/termNotation"][language='ro-RO']:before(25) {
    background-image: url("../flag-icon-css/ro.svg");
}
*[class~="termentry/termNotation"][language='ru-MO']:before(25) {
    background-image: url("../flag-icon-css/mo.svg");
}
*[class~="termentry/termNotation"][language='ru-RU']:before(25) {
    background-image: url("../flag-icon-css/ru.svg");
}
*[class~="termentry/termNotation"][language='sa-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='sk-SK']:before(25) {
    background-image: url("../flag-icon-css/sk.svg");
}
*[class~="termentry/termNotation"][language='sl-SI']:before(25) {
    background-image: url("../flag-icon-css/si.svg");
}
*[class~="termentry/termNotation"][language='sq-AL']:before(25) {
    background-image: url("../flag-icon-css/al.svg");
}
*[class~="termentry/termNotation"][language='sr-RS']:before(25) {
    background-image: url("../flag-icon-css/rs.svg");
}
*[class~="termentry/termNotation"][language='sv-FI']:before(25) {
    background-image: url("../flag-icon-css/fi.svg");
}
*[class~="termentry/termNotation"][language='sv-SE']:before(25) {
    background-image: url("../flag-icon-css/se.svg");
}
*[class~="termentry/termNotation"][language='sw-KE']:before(25) {
    background-image: url("../flag-icon-css/ke.svg");
}
*[class~="termentry/termNotation"][language='syr-SY']:before(25) {
    background-image: url("../flag-icon-css/sy.svg");
}
*[class~="termentry/termNotation"][language='ta-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='te-IN']:before(25) {
    background-image: url("../flag-icon-css/in.svg");
}
*[class~="termentry/termNotation"][language='th-TH']:before(25) {
    background-image: url("../flag-icon-css/th.svg");
}
*[class~="termentry/termNotation"][language='tr-TR']:before(25) {
    background-image: url("../flag-icon-css/tr.svg");
}
*[class~="termentry/termNotation"][language='tt-RU']:before(25) {
    background-image: url("../flag-icon-css/ru.svg");
}
*[class~="termentry/termNotation"][language='uk-UA']:before(25) {
    background-image: url("../flag-icon-css/ua.svg");
}
*[class~="termentry/termNotation"][language='ur-PK']:before(25) {
    background-image: url("../flag-icon-css/pk.svg");
}
*[class~="termentry/termNotation"][language='vi-VN']:before(25) {
    background-image: url("../flag-icon-css/vn.svg");
}
*[class~="termentry/termNotation"][language='zh-CHS']:before(25) {
    background-image: url("../flag-icon-css/cn.svg");
}
*[class~="termentry/termNotation"][language='zh-CHT']:before(25) {
    background-image: url("../flag-icon-css/cn.svg");
}
*[class~="termentry/termNotation"][language='zh-CN']:before(25) {
    background-image: url("../flag-icon-css/cn.svg");
}
*[class~="termentry/termNotation"][language='zh-HK']:before(25) {
    background-image: url("../flag-icon-css/hk.svg");
}
*[class~="termentry/termNotation"][language='zh-MO']:before(25) {
    background-image: url("../flag-icon-css/mo.svg");
}
*[class~="termentry/termNotation"][language='zh-SG']:before(25) {
    background-image: url("../flag-icon-css/sg.svg");
}
*[class~="termentry/termNotation"][language='zh-TW']:before(25) {
    background-image: url("../flag-icon-css/tw.svg");
}
