name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  DITA_OT_VERSION: 4.3.4

jobs:

  dita-ot_4-3-4:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: DITA-OT
        run: |
          curl --location --remote-name https://github.com/dita-ot/dita-ot/releases/download/4.3.4/dita-ot-4.3.4.zip
          unzip -q dita-ot-4.3.4
          chmod +x dita-ot-4.3.4/bin/dita
          chmod +x dita-ot-4.3.4/bin/ant
          rsync -aq --exclude='dita-ot-4.3.4' --exclude='.git' . dita-ot-4.3.4/plugins/org.jung.terminology
          rsync -aq webhelp-dummy-plugin/ dita-ot-4.3.4/plugins/org.jung.terminology-webhelp-dummy-plugin
          dita-ot-4.3.4/bin/dita --install
          dita-ot-4.3.4/bin/dita transtypes 
      - name: Build test files
        run: |
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=termchecker-dita --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=termchecker-xliff --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v2 --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v3 --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dca --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dct --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=oxygen-termchecker --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml-custom --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=terminology-json --output=4.3.4 --processing-mode=strict --verbose
          dita-ot-4.3.4/bin/dita --project=samples/terminology.xml --deliverable=terminology-xml --output=4.3.4 --processing-mode=strict --verbose
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: org.jung.terminology-4-3-4
          path: |
            4.3.4
            !4.3.4/**/*.html
            !4.3.4/**/*.js
            !4.3.4/**/*.css

  dita-ot_4-2-3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: DITA-OT
        run: |
          curl --location --remote-name https://github.com/dita-ot/dita-ot/releases/download/4.2.3/dita-ot-4.2.3.zip
          unzip -q dita-ot-4.2.3
          chmod +x dita-ot-4.2.3/bin/dita
          chmod +x dita-ot-4.2.3/bin/ant
          rsync -aq --exclude='dita-ot-4.2.3' --exclude='.git' . dita-ot-4.2.3/plugins/org.jung.terminology
          rsync -aq webhelp-dummy-plugin/ dita-ot-4.2.3/plugins/org.jung.terminology-webhelp-dummy-plugin
          dita-ot-4.2.3/bin/dita --install
          dita-ot-4.2.3/bin/dita transtypes 
      - name: Build test files
        run: |
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=termchecker-dita --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=termchecker-xliff --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v2 --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v3 --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dca --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dct --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=oxygen-termchecker --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml-custom --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=terminology-json --output=4.2.3 --processing-mode=strict --verbose
          dita-ot-4.2.3/bin/dita --project=samples/terminology.xml --deliverable=terminology-xml --output=4.2.3 --processing-mode=strict --verbose
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: org.jung.terminology-4-2-3
          path: |
            4.2.3
            !4.2.3/**/*.html
            !4.2.3/**/*.js
            !4.2.3/**/*.css

  dita-ot_4-1-2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: DITA-OT
        run: |
          curl --location --remote-name https://github.com/dita-ot/dita-ot/releases/download/4.1.2/dita-ot-4.1.2.zip
          unzip -q dita-ot-4.1.2
          chmod +x dita-ot-4.1.2/bin/dita
          chmod +x dita-ot-4.1.2/bin/ant
          rsync -aq --exclude='dita-ot-4.1.2' --exclude='.git' . dita-ot-4.1.2/plugins/org.jung.terminology
          rsync -aq webhelp-dummy-plugin/ dita-ot-4.1.2/plugins/org.jung.terminology-webhelp-dummy-plugin
          dita-ot-4.1.2/bin/dita --install
          dita-ot-4.1.2/bin/dita transtypes 
      - name: Build test files
        run: |
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=termchecker-dita --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=termchecker-xliff --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v2 --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v3 --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dca --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dct --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=oxygen-termchecker --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml-custom --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=terminology-json --output=4.1.2 --processing-mode=strict --verbose
          dita-ot-4.1.2/bin/dita --project=samples/terminology.xml --deliverable=terminology-xml --output=4.1.2 --processing-mode=strict --verbose
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: org.jung.terminology-4-1-2
          path: |
            4.1.2
            !4.1.2/**/*.html
            !4.1.2/**/*.js
            !4.1.2/**/*.css
        
  dita-ot_4-0-2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: DITA-OT
        run: |
          curl --location --remote-name https://github.com/dita-ot/dita-ot/releases/download/4.0.2/dita-ot-4.0.2.zip
          unzip -q dita-ot-4.0.2
          chmod +x dita-ot-4.0.2/bin/dita
          chmod +x dita-ot-4.0.2/bin/ant
          rsync -aq --exclude='dita-ot-4.0.2' --exclude='.git' . dita-ot-4.0.2/plugins/org.jung.terminology
          rsync -aq webhelp-dummy-plugin/ dita-ot-4.0.2/plugins/org.jung.terminology-webhelp-dummy-plugin
          dita-ot-4.0.2/bin/dita --install
          dita-ot-4.0.2/bin/dita transtypes 
      - name: Build test files
        run: |
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=termchecker-dita --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=termchecker-xliff --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v2 --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v3 --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dca --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dct --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=oxygen-termchecker --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml-custom --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=terminology-json --output=4.0.2 --processing-mode=strict --verbose
          dita-ot-4.0.2/bin/dita --project=samples/terminology.xml --deliverable=terminology-xml --output=4.0.2 --processing-mode=strict --verbose
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: org.jung.terminology-4-0-2
          path: |
            4.0.2
            !4.0.2/**/*.html
            !4.0.2/**/*.js
            !4.0.2/**/*.css

  dita-ot_3-7-4:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: DITA-OT
        run: |
          curl --location --remote-name https://github.com/dita-ot/dita-ot/releases/download/3.7.4/dita-ot-3.7.4.zip
          unzip -q dita-ot-3.7.4
          chmod +x dita-ot-3.7.4/bin/dita
          chmod +x dita-ot-3.7.4/bin/ant
          rsync -aq --exclude='dita-ot-3.7.4' --exclude='.git' . dita-ot-3.7.4/plugins/org.jung.terminology
          rsync -aq webhelp-dummy-plugin/ dita-ot-3.7.4/plugins/org.jung.terminology-webhelp-dummy-plugin
          dita-ot-3.7.4/bin/dita --install
          dita-ot-3.7.4/bin/dita transtypes 
      - name: Build test files
        run: |
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=termchecker-dita --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=termchecker-xliff --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v2 --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-basic-v3 --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dca --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=tbx-min-v3-dct --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=oxygen-termchecker --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=multiterm-xml-custom --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=terminology-json --output=3.7.4 --processing-mode=strict --verbose
          dita-ot-3.7.4/bin/dita --project=samples/terminology.xml --deliverable=terminology-xml --output=3.7.4 --processing-mode=strict --verbose
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: org.jung.terminology-3-7-4
          path: |
            3.7.4
            !3.7.4/**/*.html
            !3.7.4/**/*.js
            !3.7.4/**/*.css
